/* Now add styles for how things should look on a larger screen:
         - Hide the hamburger.
         - Main should be all on one row, with padding spaced better for a larger screen.
         - Just, ya know, try to make it look good! */
/* @media only screen... */

@media (min-width: 800px) {
  .icon-menu {
    display: none;
  }

  .main-nav {
    clear: both;
  }

  .main-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .main-nav:hover ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .main-nav ul li {
    display: inline;
    /*padding: auto;*/
  }
}
